body

{
	background-repeat:no-repeat;
	background-image:url("CAKES.jpg");
	background-size:cover;
}
ul 
{
	align:right;
}
ul li
{background-color:peach;
display:inline-block;
padding:10px;